.card-img-top {
    height: 160px;
    object-fit: contain;
}

.price-tag {
    font-size: 1.25rem;
    color: #28a745;
    font-weight: bold;
}

.category-badge {
    background-color: #0c3761;
    color: #fff;
    font-size: 0.85rem;
    padding: 0.2em 0.6em;
    border-radius: 0.3rem;
    position: absolute;
    top: 15px;
    left: 15px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Show 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
